p {
    position: absolute;
    top: 200px;
    left: 5px;
    font-size: 50px;
    font-weight: bold;
    color: black;
    background-color: yellow;
    padding: 0 750px 0 50px;
}

p:nth-child(2){
    left: 1288px;
    height: 60px;
    width: 60px;
    padding:0;
}

p:nth-last-of-type(1) {
    background-color:  rgba(255,255,255, 0.8);
    top: 300px;
    font-size: 20px;
    padding: 0 250px 0 50px;
    left: 40px;
    font-weight: normal;
}