div {
    display: inline-block;
    width:80%;
}

div div {
    background-color: grey;
    border-radius: 10%;
    width: 15%;
    color:white;
    padding: 2%;
    border: 1px solid black;
    position: relative;
}

h2 {
   padding-bottom: 30%;
}

div:nth-of-type(2) {
    left: -5%;
    transition: 2s ease;
}
div:nth-of-type(3) {
    left: -10%;
    transition: 2s ease;
}

div:nth-of-type(4) {
    left: -15%;
    transition: 2s ease;
}

div:nth-of-type(2):active, div:nth-of-type(3):active, div:nth-of-type(4):active, div:first-child:active{
    transform: translateY(5%);
    margin-right: 5%;
}

div:first-child:active ~ div:nth-of-type(2) {
    color:darkred;
}

div:nth-of-type(2):active ~ div:nth-of-type(3) {
    color:darkred;
}

div:nth-of-type(3):active ~ div:nth-of-type(4) {
    color:darkred;
}

div:first-child:active ~ div:nth-of-type(3) {
    color:darkred;
}

div:first-child:active ~ div:nth-of-type(4) {
    color:darkred;
}

