#container {
    display: flex;
    background-color: palegoldenrod;
    justify-content: space-evenly;
    padding:0;
}

div {
    background-color: lightgreen;
    padding: 4%;
    margin: 1%;
    color: black;
}

div:nth-of-type(2) {
    flex-grow: 4;
    text-align: center;  
}
